* {
    margin:0;
    padding: 0;
    border: red solid;
    background-color: #34495e;
}
body {
    display: flex;
    flex-direction: column;
    padding: 100px 50px;
    align-items: center;

}
#button {
    order: 1;
}
.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.hovered {
    background-color: aqua;
}
.unhovered {
    background-color: aqua;
}